* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    padding: 20px;
    margin-left: 0px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.74);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

.main-nav {
    margin-top: 20px;
}
 h1
    {
        font-size: 60px;
        text-align: center;
        padding-top: 100px;
    }
.nav-list {
    list-style-type: none;
    display: block;
    
}

.nav-list li {
    list-style-type: none;
    padding: 5px;
    display: inline;
    margin-right: 5px;
}

.nav-list a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 2px;
    background: #647991ce;
    border-radius: 10px;
    border-style: ridge;
    padding: 5px;

}

.nav-list a:hover {
    padding: 5px;
    background: #97bfe4

}

img {
    width: 300px;
    height: 300px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 60px;
    margin-left: 10px;
    left: 0;
}

main div { 
      text-align: left;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 100px;
      padding-top: 30px;

}

section button {
    display: inline-block;
    width: 20%;
    margin-left: 120px;
    margin-right: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 35px;
}

hr {
    width: 1500px;
    margin: 1em auto;
    height: 1px;
    background: rgba(73, 73, 73, 0);
}

button:hover {
    background: #e1e4e77a;
    transform: scale(1.10);
    border-width: 1px;
    border-color: #707070;
    border-radius: 5px;
    border-style: solid;
    

}

button.active {
    transform: scale(1.03);
}


footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.74);
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
}

@media (max-width: 600px) {
    header {
        font-size: 10px;
        text-align: center;
        justify-content: space-between;
    }
    .main-nav {
        padding: 1px;
        display: inline;
        
    }

    .nav-list {
        padding: 1px;

    }

    .nav-list li {
        padding: 1px;
        display: inline;
    }
    .nav-list a {
        font-size: 15px;
        display: inline;
        padding: 1px;
        margin-right: 1px;

    }
    .footer {

    }
    body {
        margin-bottom: 100px;
    }
}